<h1>Login Page</h1>
<div>
    <form action="#" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Pseudo or email ...">
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <div>
            <button type="submit">Envoyer</button>
        </div>
    </form>
</div>